#pageHeader {
    text-align: center;
}

#pageHeaderBottom {
    background-color: aqua;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#addNewBook {
    background-color: white;
    border: black solid 2px;
    height: 30px;
}
.modal{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0);
    transition:200ms ease-in-out;
    border: 1px solid black;
    border-radius:10px;
    z-index:10;
    background-color: white;
    width:300px;
    max-width:80%;
    height:400px;
}
form{
    padding: 10px;
}
.modal.active{
    transform: translate(-50%,-50%) scale(1);
}
.modal-header {
    padding: 10px 15px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 1px solid black;
}
.modal-header .closebutton{
    cursor:pointer;
    border:none;
    outline:none;
    background:none;
    font-size: 1.25rem;
    font-weight: bold;
}
#overlay {
    position: fixed;
    opacity:0;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(0,0,0,.5);
    pointer-events: none;
    transition:200ms ease-in-out;
}
#overlay.active{
    opacity: 1;
    pointer-events: all;
}

#bookCards {
    display:flex;
    flex-wrap: wrap;
}
.bookCard{
    position: relative;
    display: table;
    text-align: center;
    margin:10px;
    background-color: rgb(226, 144, 88);
    height: 250px;
    width:200px;
}
.bookCard p{
    margin:8px;
}
.bookCard h2{
    margin:12px;
}
.bookCard button{
    width:120px;
    bottom:40px;
    left:50%;
    background-color: rgb(238, 218, 195);

}
.readButton{
    font-size: large;
    height:50px;
    color:rgb(32, 121, 5);
    margin-top: 15px;
}
.deleteButton{
    margin-top: 20px;
    height: 28px;
    font-size:medium;
    color:rgb(133, 55, 55);
}

/* .bookCard button{
    position: absolute;
    width:120px;
    height:40px;
    bottom:40px;
    left:50%;
    margin-left:-60px;
    font-size: large;
    background-color: rgb(238, 218, 195);
    color:rgb(32, 121, 5);


} */